body{
    background-color: #334 !important;
    color: #fff;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrap{
    flex-wrap: wrap;
}

.nowrap{
    flex-wrap: nowrap;
}

.flex1{
    flex: 1 0;
}

.flex2{
    flex: 2 0;
}

.flex3{
    flex: 3 0;
}

.justcenter{
    justify-content: center;
}

.justaround{
    justify-content: space-around;
}

.justbetween{
    justify-content: space-between;
}

.juststart{
    justify-content: start;
}

.justend{
    justify-content: end;
}

.aligncenter{
    align-items: center;
}

.alignstart{
    align-items: start;
}

.alignend{
    align-items: end;
}

input {
    border-radius: 10px;
    min-height: 40px;
    max-height: 40px;
    max-width: 200px;
    min-width: 200px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
    animation: ease-in-out;
    transition: 200ms;
    background: none;
    outline: none;
  }

  input:focus{
    box-shadow: 0px 0px 3px 2px #fff;
  }
  
  .input_orange {
    color: #dd7346;
    box-shadow: 0px 0px 0px 1px #dd7346;
  }
  
  .input_cyan {
    color: #2ed0d0;
    box-shadow: 0px 0px 0px 1px #2ed0d0;
  }
  
  .input_white {
    color: #eeeeee;
    box-shadow: 0px 0px 0px 1px #fff;
    border: none;
  }
  
  input::placeholder {
    color: #ddd;
    text-align: center;
  }
  
  input:focus::placeholder {
    color: #00000000;
    animation: ease-in-out;
    transition: 200ms;
  }
  
  input:focus{
    padding-left: 16px;
    min-width: 192px;
    max-width: 192px;
  }
  
  button {
    border-radius: 10px;
    min-height: 40px;
    max-height: 40px;
    max-width: 216px;
    min-width: 216px;
    animation: ease-in-out;
    transition: 200ms;
  }
  
  .btn_orange {
    outline: none;
    background: none;
    color: #dd7346;
    border: none;
    box-shadow: 0px 0px 3px 2px #dd7346;
    cursor: pointer;
  }
  
  .btn_cyan {
    outline: none;
    background: none;
    color: #2ed0d0;
    border: none;
    box-shadow: 0px 0px 3px 2px #2ed0d0;
    cursor: pointer;
  }
  
  .btn_orange:hover {
    background: #dd7346;
    color: #fff;
  }
  
  .btn_cyan:hover {
    background: #2ed0d0;
    color: #fff;
  }
  
  select {
    max-height: 40px;
    min-height: 40px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    background: none;
    color: #eeeeee;
    border: solid #eeeeee 1px;
    color: #ddd;    
  }

  select::placeholder{
    
  }
  
  option {
    background-color: #333344;
  }
  
  a {
    font-size: 11pt;
  }
  
  a:link {
    color: #ddd;
  }
  
  a:visited {
    color: #ddd;
  }

  .voltar{
    margin-top: 10px;
    text-align: center;
  }