.background{
    width: 100%;
    height: 100vh;
    background: rgb(51,51,68);
    background: linear-gradient(0deg, rgba(51,51,68,1) 0%, rgba(70,62,107,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerc{
    width: 480px;
    max-width: 90vw;
    height: auto;
    padding-bottom: 1rem;
    background-color: #223;
    color: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 5px 5px 30px #10101080;
}

input[class=inputCadastro]{
    width: 80%;
    height: 45px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #38384F;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #eee;
    box-shadow: 5px 5px 15px #20202080;
}

input[class=inputCadastro]::placeholder{
    color: #bbb;
    animation: ease-out;
    transition: 300ms;
}

input[class=inputCadastro]:focus::placeholder{
    padding-left: 36px;
    padding-right: 36px;
    color: #00000000;
}

input[readonly]:focus::placeholder{
    padding-left: 0px;
    padding-right: 0px;
    color: #bbb;
}

button[class=botaoCadastro]{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: var(--laranja);
    margin-top: 1rem;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

h1{
    margin-top: 0;
}

form{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.textoCinza{
    color: #bbb;
    font-size: 15px;
}

.voltar{
    align-self: self-start;
    margin-left: 1rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.dividirWidth{
    width: calc(80% + 48px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.8rem;
}

.dividirWidth > input{
    padding-left: 24px;
    padding-right: 24px;
}