.backgroundhomeN{
    color: #fff;
    width: 100%;
    min-height: 100vh;
    background: rgb(51,51,68);
    background: linear-gradient(0deg, rgba(51,51,68,1) 0%, rgba(70,62,107,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 4rem;
}

.cards{
    margin: 3.5rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.cards > div{
    background-color: #2a292a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}

.cards > div > img{
    width: 100%;
    height: 105px;
    border-radius: 4px;
    transition: 200ms;
    animation: ease-in-out;
}

.cards > div > img:hover{
    transform: scale(1.3);
    box-shadow: 3px 3px 15px #00000080;
    cursor: pointer;
}

.cards > div > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards > div > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.cards > div > div > img{
    width: 30px;
    height: 30px;
    border-radius: 50vw;
    object-fit: cover;
}

.cards > div > div > span{
    font-size: 12px;
    align-self: center;
}

.cards span{
    font-size: 14px;
}

.textos{
    padding-right: 4rem;
    position: relative;
    top: 3rem;
}
